.btn-group{
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.15);
    
}

.btn{
    letter-spacing: 1px;
}

.active{
    background-color: #be3626;
    color: bisque;
}
.btn.btn-default:focus {
    background-color: #be3626;
    color: bisque;
    outline: none;
  } 

kendo-datepicker{
    height: 39px;
    font-size: 14px;
}